<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <title>Form Page</title>
</head>
<body>
    This is the fuckin FORM PAGE!!
    <div class='container'>
        <div class='jumbotron'>
            <h1>Fill out this Form for DECRYPTION</h1><br><br>
            <form method='POST'>
                {{form_dic2.as_p}}
                {% csrf_token %}
                <input type="submit" class=' btn btn-primary' value='Hit Me'>
                Decrypted TEXT is {{x}}
            </form>
        </div>
    </div>

</body>
</html>