{% extends "base.html" %}
{%load static%}
{% block content %}
            <h1>Fill out this Form for ENCRYPTION</h1><br><br>
            <form method='POST' align='center'>
                {{form_dic1.as_p}}
                {% csrf_token %}
                <input type="submit" class=' btn btn-primary' value='Hit Me'>
               <h4>Encrypted Text is </h4> <h3>{{x}} </h3>
               <br>
               <h4>and your Key is </h4><h3>{{y}}</h3>
            </form>
            Click <a href="/dec">here</a> for the decryption page!
{% endblock%}